<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoo.entity.ZooBoard">

<select id="boardList" resultType="com.zoo.entity.ZooBoard">
		select * from Zoo_board
	</select>

	<insert id="boardWrite" parameterType="com.zoo.entity.ZooBoard">
		insert into Zoo_board
		values(
			board_num_seq.nextval,
			#{title},
			#{content},
			#{img, jdbcType=VARCHAR},
			sysdate,
			#{writer},
			#{like},
			#{score}
			
		)
	</insert>
		
		<!-- 집어넣을 데이터가 한개라면, parameterType을 적지않아도 된다. -->
		<select id="boardView" resultType="com.zoo.entity.ZooBoard">
		select * from Zoo_board
		where num = #{num}
		
		</select>
	


</mapper>