 .u-section-1 {
  background-image: linear-gradient(#eafdfc, #f5f7fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-1 .u-group-1 {
  width: 622px;
  min-height: 754px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 583px;
  margin: 6px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 65px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 136px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 235px;
}

.u-section-1 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 186px;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 235px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 39px 22px 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 50px;
  width: 331px;
  margin: 66px 35px 0 21px;
}

.u-section-1 .u-group-2 {
  width: 589px;
  min-height: 346px;
  height: auto;
  margin: 18px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 22px 6px 0 19px;
}

.u-section-1 .u-line-1 {
  width: 575px;
  transform-origin: left center 0px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 21px auto 0 24px;
}

.u-section-1 .u-group-elements-1 {
  width: 228px;
  min-height: 31px;
  height: auto;
  margin: 22px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  margin: 0 80px;
  padding: 0px 18px 3px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  margin: -29px 160px 0 0;
  padding: 2px 18px 3px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  margin: -31px 0 0 auto;
  padding: 2px 18px 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 72px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 293px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 184px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}

#starpoint {
  top: 30px;
  position: relative;
}